<!--
Copyright 2017 Alexis Ryan

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div class="jumbotron">
    <h1>Archive Track</h1>
    <p class="lead">Archive Track is designed to make it easier to read works on Archive of Our Own.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ao3Track Reader</h2>
        <p>
            Ao3Track Reader is an App with integrated reading list and location tracking so you always know where you're upto when reading a work. Coming soon for Windows 10 and Android.
        </p>
        <p>
            This​ ​app​ ​is​ ​an​ ​unofficial​ ​fanfiction​ ​Reader​ ​for​ ​the​​ ​​Archive​ ​Of​ ​Our​ ​Own​ ​(AO3)​ ​site.​ ​I​ ​created​ ​it​ ​because  I​ ​am​ ​a​ ​fan​ ​of​ ​fanfiction,​ ​and​ ​I​ ​wanted​ ​to​ ​help​ ​people​ ​access​ ​the​ ​
            stories​ ​they​ ​love.​ ​No​ ​subscription​ ​is  needed​ ​to​ ​use​ ​this​ ​app.​ ​Downloading​ ​and​ ​using​ ​this​ ​app​ ​is​ ​not​ ​a​ ​substitute​ ​for​ ​getting​ ​an​ ​Invitation  to​ ​post​ ​stories​ ​on​ ​AO3;​ ​
            nobody​ ​needs​ ​an​ ​Invitation​ ​to​ ​read​ ​stories​ ​on​ ​AO3,​ ​or​ ​give​ ​kudos.​ ​Archive​ ​Of  Our​ ​Own​ ​is​ ​created,​ ​hosted​ ​and​ ​maintained​ ​by​ ​a​ ​team​ ​of​ ​volunteers,​ ​and​ ​they​ ​do​ ​not​ ​ask​ ​
            anyone​ ​to  pay​ ​to​ ​share​ ​or​ ​read​ ​stories​ ​on​ ​the​ ​site.
        </p>
        <h3>Ao3Track Reader for Android</h3>
        <p>
            Ao3Track Reader is available for Android devices in the <a href="https://play.google.com/store/apps/details?id=net.wenchy.ao3track.reader">Google Play Store</a>.
            Needs Android 4.2 Jellybean or newer.
        </p>
        <h3>Ao3Track Reader for Windows</h3>
        <p>
            Ao3Track Reader is available for Windows in the <a href="https://www.microsoft.com/store/productid/9PCD8QR6NRND">Windows Store</a>. Runs on Windows 8.1 Desktop, and
            Window 10 Desktop, Tablet and Mobile.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ao3Track Web Extension</h2>
        <p>
            Ao3Track Web Extension is a web browser extension to add some of the Reader functionality when you are using a web browser. Location tracking included so you always know where you're
            upto when reading a work. Also included hyperlink right click context menu item to add an Archive of Our Own link to your reading list.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ao3Track Cloud Sync</h2>
        <p>
            Ao3Track Cloud Sync is an integrated part of both Reader and Web Extension so your tracked locations and reading list are shared across all your devices and web browsers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ao3Track Source Code</h2>
        <p>
            All source code for all the Ao3Track components is available on <a href="https://github.com/wench/Ao3-Tracker">GitHub</a> licensed using the
            <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License Version 2.0</a>.
        </p>
    </div>
</div>
