@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy Policy</h2>

<ul>
    <li>Ao3Track will not share any of your data with third parties.</li>
    <li>Ao3Track does not collect any data other than listed in the sections below.</li>
</ul>

<ul>
    <li>Usage of the Ao3Track cloud server is Opt In.</li>
    <li>Entry of an email address during account creation is optional.</li>
    <li>Email addresses will only be used for account recovery purposes.</li>
    <li>Using the cloud services will keep a history of all the works you have viewed while using the Reader or Browser Extension, and the contents of your Reading List.</li>
</ul>

<ul>
    <li>All communication with the Ao3Track cloud server is performed over encrypted HTTPS connections.</li>
    <li>All passwords are stored as cryptographic secure salted hashes.</li>
    <li>Ao3Track does not under any circumstances store any plain text passwords.</li>
</ul>
