@model Ao3tracksync.Models.User

@{
    ViewBag.Title = "Forgot my Password";
}

<h2>Forgot my Password</h2>

<div>A reset password email has been sent to the address @Html.ValueFor(model => model.email). Reset link in email is valid for 24 hours only.</div>

