// Options page
html, html.mw_ao3track_zoomed {
    touch-action: manipulation;
}

html.mw_ao3track_unzoomed {
    touch-action: pinch-zoom pan-y;
}

#ao3t-options {
    
}

#ao3t-actions {
    position: fixed;
    bottom: 0;
    left: 1em;
    margin: 0;

    li { 
        float: left; 
        margin: 0 0 0 .3em;

        &:first-child {
            margin-left: 0;
        }
    }
}