<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Ao3TrackReader.Droid" android:versionName="0.9.9" android:versionCode="9009">
  <uses-sdk android:minSdkVersion="17" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="Ao3Track Reader" android:icon="@drawable/Icon">
  </application>
</manifest>